

<div class="ui-g-12 ui-g-nopad" >

<p-dialog #docDialog [header]="docHeader" [(visible)]="display" modal="modal" [width]="800" [responsive]="true">

  <pre *ngIf="content !== null">{{content}}</pre>

  <div *ngIf="content === null" class="no-documentation">No Doc</div>

  <p-footer>
    <button id="close-dicumentation-button" type="button" pButton icon="fa-close" (click)="display=false" label="Ok"></button>
  </p-footer>
</p-dialog>

<button type="text" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show"></button>
<button type="text" (click)="showDialogLarge()" pButton icon="pi pi-info-circle" label="Show Larger"></button>

</div>

<div ui-view ></div>
